{% extends 'base.html' %}
{% block title %}
    CandyShop
{% endblock %}

{% block content %}
    {% for candy in candys %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ candy.image.url }}" alt="">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="">{{ candy.type.title }}</a>
                    <small class="text-muted"></small>
                </div>
                <h2><a class="article-title" href="{% url 'shop:candy_detail_url' pk=candy.pk %}">{{ candy.name }}</a></h2>
                <p class="article-content">{{ candy.description }}</p>
            </div>
        </article>
    {% endfor %}

{% endblock %}

{% block sidebar %}
    <div class="col-md-4">
        <div class="content-section">
            <h3>Candy Types</h3>
            <p class='text-muted'>
            <ul class="list-group">
                {% for type in types %}
                    <li class="list-group-item list-group-item-light">{{ type }}s</li>
                {% endfor %}
            </ul>
            </p>
        </div>
    </div>
{% endblock %}